@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="text-center">
        <img src="~/Content/img/Universidad.png" class="img-fluid" alt="Universidad de la Vida">
    </section>


    <section class="row text-center my-5" aria-labelledby="universityManagementTitle">
        <h1 id="title" class="display-4">Gestión Universitaria</h1>
        <p class="lead">
            Administra estudiantes, docentes, cursos y reportes de forma eficiente y organizada.
        </p>
    </section>

    <div class="row text-center">
        <!-- Gestión de Estudiantes -->
        <section class="col-md-3 mb-4" aria-labelledby="studentsTitle">
            <h2 id="studentsTitle">Alumnos</h2>
            <p>
                Registra, actualiza y consulta información de los Alumnos matriculados.
            </p>
            <p>@Html.ActionLink("Alumnos", "AlumnosPage", "Alumno", null, new { @class = "btn btn-outline-dark" })</p>
        </section>

        <!-- Gestión de Docentes -->
        <section class="col-md-3 mb-4" aria-labelledby="teachersTitle">
            <h2 id="teachersTitle">Matriculaciones</h2>
            <p>
                Administra la información de los profesores, asignaturas y horarios.
            </p>
            <p>@Html.ActionLink("Matriculaciones", "MatriculacionesPage", "Matriculacion", null, new { @class = "btn btn-outline-dark" })</p>
        </section>

        <!-- Gestión de Cursos -->
        <section class="col-md-3 mb-4" aria-labelledby="coursesTitle">
            <h2 id="coursesTitle">Carreras</h2>
            <p>
                Organiza las carreras de que tiene la universidad.
            </p>
            <p>@Html.ActionLink("Carreras", "CarrerasPage", "Carrera", null, new { @class = "btn btn-outline-dark" })</p>
        </section>

        <!-- Reportes -->
        <section class="col-md-3 mb-4" aria-labelledby="reportsTitle">
            <h2 id="reportsTitle">Asignaturas</h2>
            <p>
                Organiza y administra las asignaturas de la Universidad.
            </p>
            <p>@Html.ActionLink("Asignaturas", "AsignaturasPage", "Asignatura", null, new { @class = "btn btn-outline-dark" })</p>
        </section>
    </div>
</main>
